<form method="post" action="{{ path('marcador_delete', {'id': marcador.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marcador.id) }}">
    <button class="btn btn-link mg-3">
        <span class="oi oi-delete" title="Eliminar" aria-hidden="true"></span>
    </button>


</form>
